.vscode/
0.txt
HAQjurassic.dat
TSanalysis.m
actions-marges-plot1.fig
addseveralcolormaps.m
adiabat.m
adiabat1.m
adiabat_empirical.m
bandpass.m
bilingrid.c
bilingrid.dll
bilingrid.mexw32
bilingrid.mexw64
calcgrav.m
clonemodel.m
colorbar_log.m
compile
cont_grid.m
contributors.txt
cookbookplot.m
customgrid.m
debugread.m
depth_temp.m
faciesprint.m
fct.m
fct2c.mexw32
fig3.m
fig3a.m
fig3b.m
fig3c.m
fig3d.m
fig3e.m
firstbytes.m
ft.c
ft.mexw32
ft.mexw64
get_z_Temp.m
getcolorindex.m
getindex.m
getsedirockcmap.m
grav1D.m
gravityplot.m
gridmarkers.m
ifct.m
ifct2c.mexw32
importtemp.m
importtemp1.m
job.sh
jobpar.sh
john_meltdiff.m
john_plot_1dmelt.m
john_plot_partialmelt.m
john_plotice.m
john_plotmelt.m
john_plotmelt2.m
ketch.C
ketch.H
loadpath.m
loadsubsdata1.m
loadtopography.m
makemarkers_n_pr_cell.m
makemarkers_n_pr_cell1.m
makemarkers_n_pr_cell2.m
makemarkers_n_pr_cell3.m
melting.gcc
melting.icc
momentummarkerfuncs.c
multigridfuncs1.c
mz_meltparam.m
natlantic_18
nearestgrid.c
nohup.out
outfiles/
output.ps
pcolorim.m
picknearestmarker.m
./plot_figure4and5.m
plot_meltthick.m
./plot_meltthick_ice.m
plot_min_crust.m
plot_ree1.m
plot_stress_envelope.m
plotmeltcomp.m
plotmeltcomp2.m
plotmeltvol.m
plotrocks1.m
plotrocks10.m
plotrocks11.m
plotrocks18.m
plotrocks19.m
plotrocks19a.m
plotrocks2.m
plotrocks3.m
plotrocks4.m
plotrocks5.m
plotrocks7.m
plotrocks7a.m
plotrocks7b.m
plotrocks7c.m
plotrocks7d.m
plotrocks8.m
plotrocks9.m
plotrocks9_1.m
plotrocks_surface_ft.m
plotrocks_surface_ft1.m
plotrocks_surface_ft5.m
plotrockssedi.m
plotrockssedi1.m
plotrockssedi2.m
plotrockssedimelt.m
plotrockssedimelt1.m
plotsurface.m
plotsurface1.m
plotsurface1_1.m
plotsurface3.m
plotsurface6.m
plotsurface7.m
plotsurface8.m
plotsurface9.m
polyfitweighted2.m
polyval2.m
positiveFFT.m
quickdotplot.m
readX.m
readX_name.m
readage.m
readdata.m
readdata_name.m
readsavedsurfaces.m
readtemphist.m
readtest1.c
readtestmultigrid1.c
regbilingrid.c
regbilingrid.mexw32
regbilingrid.mexw64
regbilingrid2.c
regbilingrid2.mexw64
remakenewmodel.m
rheologyplots/
scalardotplot.m
sedimentfacies.m
sedimentfacies1.m
sedimentfacies2.m
sedimentfacies3.m
sedimentfacies4.m
sedimentfacies5.m
speed_test.gcc
speed_test.icc
ssa.m
status.txt
./steadystatelithos1.m
steadystatelithos_ice.m
step_ice.png
strong
subsidenceanalysis.m
subsidenceanalysis1.m
subsidenceplot.m
tempfuncs.c
tempfuncs_par.works
test.m
thermalanalysis.m
tools/
trackplot.m
warnings.txt
weak
wheeler.m
wheeler1.m
wheeler2.m
wheeler3.m
veloforce.gcc